#services-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    flex-direction: row;
    gap: 20px;
}
#total{
  
    align-self: flex-end;
    text-align: end;
    font-weight: bold;
    font-size: 1.5rem ;
}