@if (prospectsList().length === 0) {
    <p>No prospects yet</p>
}
<div id="prospects-list">
@for ( prospect of prospectsList(); track prospect.id) {
    <article id="prospect-card-{{ prospect.id }}">
      <header>
        <h3>{{ prospect.name }}</h3>
        <p>Email :<span> {{ prospect.email }} </span></p>
        <p>Phone number : <span>{{ prospect.phoneNumber }}</span></p>
        <p>Date: <span>{{ prospect.date.toLocaleDateString() }}</span></p>
      </header>
      <ul>
        @for ( product of prospect.items; track product.id) {
        <li>
          <span>{{ product.name }}</span>{{ product.quantity }} pages -
          {{ product.languages }} languages
        </li>
        }
      </ul>
      <footer>
      <button>Share Link</button>
      <p>Total: <span>{{ prospect.total }}€</span></p>
      </footer>
    </article>
}

</div>
