<form [formGroup]="newProspect">
  <h3>Ask your Prospect</h3>
  <div id="inputs">
    <input formControlName="name"  [(ngModel)]="userdata.name" type="text" placeholder="Name" />
    <input formControlName="email" [(ngModel)]="userdata.email" type="email" placeholder="Email" />
    <input formControlName="phoneNumber" type="tel" placeholder="Phone Number" />
  </div>
  <p>Order Recap:</p>
  <ul>
    @for ( product of cart(); track product.id) {
    <li><span>{{ product.name }} - </span> {{ product.quantity }} pages - {{ product.languages }} languages</li>
    }
  </ul>
  <p><span>Total:</span> {{ total() }} €</p>

  <button (click)="generateProspect()">Generate your Prospect</button>
</form>
