<form [formGroup]="newProspect" (submit)="generateProspect()">
  <h3>Ask your Prospect</h3>
  <div id="inputs">
    <input formControlName="name" required  type="text" placeholder="Name" />
    <input formControlName="email" required  type="email" placeholder="Email" />
    <input formControlName="phoneNumber" required type="text" placeholder="Phone Number" />
  </div>
  <p>Order Recap:</p>
  <ul>
    @for ( product of cart(); track product.id) {
    <li><span>{{ product.name }} - </span> {{ product.quantity }} pages - {{ product.languages }} languages</li>
    }
  </ul>
  <p><span>Total:</span> {{ total() }} €</p>

  <button type="submit">Generate your Prospect</button>
</form>
