#search-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
}
#buttons {
  display: flex;
  gap: 2rem;
  button{
    background-color: #040b59;
    color: #fff;
    padding: 0.5rem ;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
}
p {
  font-size: 1.2rem;
  font-weight: bold;
  align-self: self-end;
}
