<div class="service-card" id="service-card-{{ product.id }}">
  <h3>{{ product.name }}</h3>
  <form>
    <input type="checkbox" id="product-checkbox-{{ product.id }}" (change)="toggleSelection($event.target.checked)" [checked]="isSelected === true " />
    <p>{{ product.description }}</p>
    <p>{{ product.price }}€</p>
    <label for="product-quantity-{{ product.id }}">Quantity:</label>
    <input
      [disabled]="!isSelected ? 'disabled' : ''"
      type="number"
      min="1"
      max="10"
      value="{{ product.quantity }}"
    
      id="product-quantity-{{ product.id }}"
    />
    <label for="product-languages-{{ product.id }}">Languages:</label>
    <input
      [disabled]="!isSelected ? 'disabled' : ''"
      type="number"
      min="1"
      max="10"
      value="{{ product.languages }}"
      id="product-languages-{{ product.id }}"
    />
  </form>
</div>
